<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/photo/favicon.ico" type="image/x-icon">
        <title>Suggest New Pizza</title>
        
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="box">
            <h2>Suggest Pizza</h2>
            <form>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Pizza Name</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Ingredients</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Size</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>E-mail</label>
                </div>
                <input type="submit" name="" value="submit" onClick="Submit" >
            </form>
        </div>
    </body>
</html>