<!DOCTYPE html>
<html>
    <head>
        <title>Suggest New Pizza</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../styles/style1.css">
        <link rel="shortcut icon" type="image/x-icon" href="/Photo/favicon.ico" >
        <link rel="icon" type="image/x-icon" href="/Photo/favicon.ico" >
        <link rel="icon" type="image/png" sizes="192x192"  href="/Photo/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/Photo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/Photo/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/Photo/favicon-16x16.png">
        <link rel="manifest" href="/Photo/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="box">
            <h2>Suggest Pizza</h2>
            <form>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Pizza Name</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Ingredients</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>Size</label>
                </div>
                <div class="inbutbox">
                    <input type="text" name="" required="">
                    <label>E-mail</label>
                </div>
                <div class="sub">
                    <input type="submit" name="" value="submit" onClick="Submit" >
                </div>  
            </form>
        </div>
    </body>
</html>